.form-controla{
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color:#495057;
	background-color:#fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-controlb{
	display: flex;
	flex-direction: row;
	width: 70%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color:#495057;
	background-color:#fff;
	background-clip: padding-box;
}
.buttonap{
  margin: 20px 0px 20px 0px;
	display: flex;
	justify-content: flex-end;

}
.btn-danger {
    color: 
	#fff;
	background-color:
	#b50d0d;
	border-color:
	#b50d0d;
	margin-right: 5px;
	
}
#photo{
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
.iconapp{
	width: 200px;
	height: 200px;
}
.btn-valid{
  float: right;
  margin: 20px 0px 20px 20px;
}
